In [1]:
True="something"
print(True)

SyntaxError: cannot assign to True (461668069.py, line 1)

In [2]:
Apple="sdsds"

In [3]:
import keyword

In [4]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
# these above keywords cannot be used for reference names

# operators

In [7]:
# arthematic(+,-,*,/,//)
# boolean(==/!=,>,>,>=,<=,in,not,and,or)
# bitwise(&,|,^)

In [8]:
a=1000
print(a,type(a))

1000 <class 'int'>

In [9]:
a=1000
print(a,type(a))
a=121.898
print(a,type(a))
a=[10,23]
print(a,type(a))
a={12324,456546,678}
print(a,type(a))
a="sdfrff"
print(a,type(a))
a={"name":"aja","add":"qcity"}
print(a,type(a))

1000 <class 'int'>
121.898 <class 'float'>
[10, 23] <class 'list'>
{456546, 12324, 678} <class 'set'>
sdfrff <class 'str'>
{'name': 'aja', 'add': 'qcity'} <class 'dict'>

In [10]:
print(1000+"python")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
# the above is type error because the(+) operator is not supporting for integer and string

In [18]:
print(5* "python")

pythonpythonpythonpythonpython

In [13]:
print("python"+"hello")

pythonhello

In [14]:
print(1+[1,2,3,])

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [15]:
# here + operator is not supporting for integer and list

In [16]:
print(2*[1,2,3,4])

[1, 2, 3, 4, 1, 2, 3, 4]

In [19]:
print(1+1.2)

2.2

In [20]:
print(1={1:2,3:4})

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1107279421.py, line 1)

In [21]:
a=1+2j

In [22]:
print(type(a))

<class 'complex'>

In [23]:
print(1+1+2j)

(2+2j)

In [24]:
print(1+{10,20,30})

TypeError: unsupported operand type(s) for +: 'int' and 'set'

In [25]:
print(1+True)

2

In [26]:
# in the above cell we were not converted boolean value(True)to integer.this happened internall typecasting.

In [27]:
int(True)

1

In [28]:
print(1+20.12)

21.12

In [29]:
# in the above cell integer is converted into float

In [30]:
int(20.12)

20

In [31]:
print(10+"20")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# in the above cell why it is not happening internal typecasting

In [32]:
print(10+20)#summation

30

In [33]:
print("10"+"20")#concatination

1020

In [34]:
print(10+"20")#summation?conactination?

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
print("10"<9)

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
print(10<10)

False

In [37]:
print("12"<"2")# cpmparing through ascii values

True

In [38]:
print("apple"<"ant")#a,a:p<nFalse it is comparing through ascii values

False

In [39]:
print([10,20,30]>[100,200,300])#10>100 False by comparing through ascii values

False

In [1]:
required_param="name,age,id"
given_param="name,age,id"
print(required_param==given_param)

True

In [2]:
required_param="name,age,id"
given_param="name,id,name"
print(required_param==given_param)

False

In [3]:
required_param={name,age,id}
given_param={name,id,name}
print(required_param==given_param)

NameError: name 'name' is not defined

In [4]:
required_param={"name","age","id"}
given_param={"name","id","name"}
print(required_param==given_param)# in set we no need to follow order

False

In [1]:
"hyd" in "hyderabad"

True

In [2]:
"dr" in "hyderabad"

False

In [3]:
"der" in "hyderabad"

True

In [4]:
12 in [1,12,13,14]

True

In [5]:
"name" in {"name":"Aja","add":"hyd"}

True

In [6]:
# in operator works in string as well as in list and in dictionary

In [1]:
1 in "100"

TypeError: 'in <string>' requires string as left operand, not int

In [2]:
"1" in "100"

True

In [3]:
1 in 1000

TypeError: argument of type 'int' is not iterable

In [5]:
# in operator is  not working for integer datatype
## in operator is used in object if it is iterable

In [6]:
"1" not in "1000"

False

In [7]:
# here 1 is there in 1000

In [11]:
"""
T and T=T
T and F=F
F and T=F
F and F=F

T or T = T
T or F = T
F or T = T
F or F = F
"""

'\nT and T=T\nT and F=F\nF and T=F\nF and F=F\n\nT or T = T\nT or F = T\nF or T = T\nF or F = F\n'

In [12]:
"""
XOR
TRUE xor True = False
TRUE xor False = True
False Xor true = True
False Xor True = False
"""

'\nXOR\nTRUE xor True = False\nTRUE xor False = True\nFalse Xor true = True\nFalse Xor True = False\n'

## expression evaluation

In [13]:
s=10+20
print(s)

30

In [14]:
s=10+20+30
print(s)

60

In [15]:
s=10+20/5*4
print(s)

26.0

In [16]:
s=1000/200/5/2
print(s)

0.5

## typecasting

In [18]:
a="10"
b="20"
print(a+b)

1020

In [19]:
a="10"
b="20"
a=int(a)
b=int(b)
print(a+b)

30

In [20]:
# *,/,//

In [21]:
a="10"
b="20"
a=int(a)
b=int(b)
print(a*b)

200

In [22]:
a="10"
b="20"
a=int(a)
b=int(b)
print(a/b)

0.5

In [23]:
a="10"
b="20"
a=int(a)
b=int(b)
print(a//b)

0

In [24]:
a=10
b=20
a=int(a)
b=int(b)
print(a//b)

0

In [25]:
a=10
b=20
a=int(a)
b=int(b)
print(a/b)

0.5

In [26]:
a=10
b=20
print(a%b)

10

In [27]:
a="123"
print(a,type(a))

123 <class 'str'>

In [28]:
a="123"
print(a,type(a))
b=float(a)
print(b,type(b))

123 <class 'str'>
123.0 <class 'float'>

In [29]:
a=123
print(a,type(a))
c=str(a)
print(c,type(c))

123 <class 'int'>
123 <class 'str'>

In [31]:
s= "srividya"
print(s,type(s))
s1=tuple(s)
print(s1,tuple(s1))

srividya <class 'str'>
('s', 'r', 'i', 'v', 'i', 'd', 'y', 'a') ('s', 'r', 'i', 'v', 'i', 'd', 'y', 'a')

In [32]:
a="12a"
b=int(a,16)
print(b)

298

## input

In [33]:
# this input basically used to take inputs from the users

In [34]:
a=1000
b=2000
print(a+b)

3000

In [35]:
a=input("enter a valeue")
b=input("enter b value")
print(a+b)

enter a valeue 1
enter b value 2

12

In [36]:
# it is concatinating

In [37]:
a=input("enter a value")
b=input("enter b value")
print(a,type(a))
print(b,type(b))
res1=(a+b)#concatination

enter a value 12
enter b value 12

12 <class 'str'>
12 <class 'str'>

In [38]:
a=input("enter a value")
b=input("enter b value")
print(a,type(a))
print(b,type(b))
res1=(a+b)#concatination
print(res1)

enter a value 12
enter b value 12

12 <class 'str'>
12 <class 'str'>
1212

In [39]:
a=input("enter a value")
b=input("enter b value")
print(a,type(a))
print(b,type(b))
res1=(a+b)#concatination
print(res1)
a=int(a)
b=int(b)
print(a,type(a))
print(b,type(b))
res2(a+b)#summation
print(res2)

enter a value 122
enter b value 123

122 <class 'str'>
123 <class 'str'>
122123
122 <class 'int'>
123 <class 'int'>

NameError: name 'res2' is not defined

In [40]:
a=input("enter a value")
b=input("enter b value")
print(a,type(a))
print(b,type(b))
res1=(a+b)#concatination
print(res1)
a=int(a)
b=int(b)
print(a,type(a))
print(b,type(b))
res2=(a+b)#summation
print(res2)

enter a value 123
enter b value 123

123 <class 'str'>
123 <class 'str'>
123123
123 <class 'int'>
123 <class 'int'>
246

In [41]:
# take two numbers from the user and do all the arithemetic operations(+,-,/,//,%,*)
number1=input("enter 1 value")
number2=input("enter 2 value")
print(number1,type(number1))
print(number2,type(number2))
res1=(a+b)
print(res1)

enter 1 value 12
enter 2 value 12

12 <class 'str'>
12 <class 'str'>
246

In [42]:
number1=input("enter 1 value")
number2=input("enter 2 value")
print(number1,type(number1))
print(number2,type(number2))
res1=(a+b)
print(res1)
number1=input("enter 1 value")
number2=input("enter 2 value")
print(number1,type(number1))
print(number2,type(number2))
res2=(a-b)
print(res2)
number1=input("enter 1 value")
number2=input("enter 2 value")
print(number1,type(number1))
print(number2,type(number2))
res2=(a*b)
print(res2)

enter 1 value 13
enter 2 value 11

13 <class 'str'>
11 <class 'str'>
246

enter 1 value 12
enter 2 value 13

12 <class 'str'>
13 <class 'str'>
0

enter 1 value 14
enter 2 value 12

14 <class 'str'>
12 <class 'str'>
15129

## print statement

In [43]:
a=1000
b="python"
c=[1,2,3,4]
d=(10,20,30)
e={12,34,56}
print(a,b,c,d,e)

1000 python [1, 2, 3, 4] (10, 20, 30) {56, 34, 12}

In [44]:
a=1000
b="python"
c=[1,2,3,4]
d=(10,20,30)
e={12,34,56}
print(a,b,c,d,e,sep="#")

1000#python#[1, 2, 3, 4]#(10, 20, 30)#{56, 34, 12}

In [45]:
a=1000
b="python"
c=[1,2,3,4]
d=(10,20,30)
e={12,34,56}
print(a,b,c,d,e,sep="\n")

1000
python
[1, 2, 3, 4]
(10, 20, 30)
{56, 34, 12}

In [46]:
s="hello"
print(len(s))

5

In [47]:
s="\n"
print(len(s))

1

In [48]:
a=1000
b="python"
c=[1,2,3,4]
d=(10,20,30)
e={12,34,56}
print(a)
print(b)
print(c)
print(d)

1000
python
[1, 2, 3, 4]
(10, 20, 30)

In [49]:
a=1000
b="python"
c=[1,2,3,4]
d=(10,20,30)
e={12,34,56}
print(a)
print(b)
print(c)
print(d)
print(e)

1000
python
[1, 2, 3, 4]
(10, 20, 30)
{56, 34, 12}

In [51]:
a=1000
b="python"
c=[1,2,3,4]
d=(10,20,30)
e={12,34,56}
print(a,end="#")
print(b,end="@")
print(c,end="%")
print(d,end="&")
print(e)

1000#python@[1, 2, 3, 4]%(10, 20, 30)&{56, 34, 12}

## string formation

In [ ]:
# The Anil kumar(customer name) is a very good customer,bought 3045 sales orders from our portal.we got 20000 profit because of Anil Kumar