## Assignments on variables expressions and statements

### 1. Take the input from the user for(Total number of people,Number of seats for bus. Based on two inputs Decide how many number of buses required

In [1]:
people = int(input("number of people:"))

seats = int(input("number of seats:"))

buses = (people+seats-1)//seats

print(f"Number of buses: {buses}")

number of people: 50
number of seats: 4

Number of buses: 13

### 2.take temperature from the user and convert foreign heat -> Celsius.

In [2]:
Fahrenheit = float(input("Enter Fahrenheit Temp: "))

Celsius = (Fahrenheit - 32) * 5/9

print(f"Enter the Celsius temp is {int(Celsius)}")

Enter Fahrenheit Temp:  89

Enter the Celsius temp is 31

### 3.take temperature from the user and convert Celsius → foreign heat.

In [3]:
Celsius = float(input("Enter Celsius Temp: "))

Fahrenheit = (Celsius * 9/5) + 32

print(f"Enter the Fahrenheit temp is {int(Fahrenheit)}")

Enter Celsius Temp:  90

Enter the Fahrenheit temp is 194

### 5.Take the distance in km

### Show that in cm, meters, in milli meters, cents, feets, yards

In [4]:
Kilometers = float(input("Enter no. of Kilometers: "))

centimeters = Kilometers * 100000 

meters = Kilometers * 1000 

millimeters = Kilometers * 1000000

cents = Kilometers * 39370.1

feets = Kilometers * 3280.84

yards = Kilometers * 1093.61

print(f" Kilometers: {centimeters: .2f}")  

print(f" Kilometers: {meters: .2f}")  

print(f" Kilometers: {millimeters: .2f}")  

print(f" Kilometers: {cents: .2f}")  

print(f" Kilometers: {feets: .2f}")  

print(f" Kilometers: {yards: .2f}")

Enter no. of Kilometers:  4

 Kilometers:  400000.00
 Kilometers:  4000.00
 Kilometers:  4000000.00
 Kilometers:  157480.40
 Kilometers:  13123.36
 Kilometers:  4374.44

### 6.Take the size of your hard disk in GB  Show that in MB, KB, TB, PB

In [5]:
disk_size = float(input("Enter size in GB:- "))
print(f'The size in {disk_size}GB to MB is {disk_size*1000}MB')
print(f'The size in {disk_size}GB to KB is {disk_size*1000000}KB')
print(f'The size in {disk_size}GB to TB is {disk_size*0.001}TB')
print(f'The size in {disk_size}GB to PB is {disk_size/1000000}PB')

Enter size in GB:-  1

The size in 1.0GB to MB is 1000.0MB
The size in 1.0GB to KB is 1000000.0KB
The size in 1.0GB to TB is 0.001TB
The size in 1.0GB to PB is 1e-06PB

### 4.take four number from the user (variables name it as x1,x2,x3,x4)

### Do the below operations

### (x1+x2)**2, (x3+x4)**3

### variance

### standard deviation: sqrt(variance): User math module. Math.sqrt(variance)

### Regression

### y=mx+b

### m=1.23

### b=0.045

### find out y

### y=m*(x1+x2+x3+x4)+b

### Find the average of four numbers

### Find the sum of four numbers

In [6]:
import math
x1 = int(input())
x2 = int(input())
x3 = int(input())
x4 = int(input())
res1 = (x1+x2)**2
res2 = (x3+x4)**3
mean = (x1+x2+x3+x4)/4
varience = ((x1-mean)**2 + (x2-mean)**2 + (x3-mean)**2 + (x4-mean)**2)/4
std_dev = math.sqrt(varience)
y = 1.23*(x1+x2+x3+x4)+0.045
avg = mean
sum_of_four = x1+x2+x3+x4
print(res1)
print(res2)
print(varience)
print(std_dev)
print(y)
print(avg)
print(sum_of_four)

 1
 2
 3
 4

9
343
1.25
1.118033988749895
12.345
2.5
10

### 7. Take name, age, height from the user and print like below

### The details of the person: Name:name of the person, Age:age of the person, Height:height of the person

### Note: make sure that no space between : and a value and should be space after “COMA”

In [7]:
name = input()
age= input()
height=input()
print(f'The details of the person: Name:{name}, age:{age}, height:{height}')

 siri
 26
 4.3

The details of the person: Name:siri, age:26, height:4.3

### 8. BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person.

In [8]:
weight = float(input())
height = float(input())
bmi = weight/(height*height)
print(f'calculation of bmi:{bmi}')

 23
 4

calculation of bmi:1.4375

### 9. name="Jayaram"

### age=1.6

### height=3.5356234

### weight=10.343856783

### By using above inputs print the output

### Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344

### Note: Use format specifiers(%s, %d, %f)

In [9]:
name = "Jayaram"
age =  1.6
height = 3.5356234
weight = 10.343856783
print(f'Name:%s, Age:%.1f , Height:%.2f, Weight:%.3f'%(name,age,height,weight))

Name:Jayaram, Age:1.6 , Height:3.54, Weight:10.344

### 10. Take three upper case letters from the user convert in to small case.

In [10]:
x="ABC"
#print(f'print small case'{})
print(dir(x))
p = x.lower()
print(p)

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
abc

### 11. take base and exponent value from the user and print like in mathematics:

### example: base=2, exponent=3: 23

### Use: 2\u00b3

In [11]:
base = input('enter base value')
exponent = input('enter exponent value')
print(f'8\u00b3')

enter base value 2
enter exponent value 5

8³

In [ ]:
base = input('Enter base value: ')
exponent = input('Enter exponent value: ')


# Converting exponent to superscript if possible
# Using a dictionary for common exponents
superscripts = {
    '0': '\u2070', '1': '\u00B9', '2': '\u00B2', '3': '\u00B3',
    '4': '\u2074', '5': '\u2075', '6': '\u2076', '7': '\u2077',
    '8': '\u2078', '9': '\u2079'
}

def to_superscript(number):
    return ''.join(superscripts.get(digit, '') for digit in str(number))

# Print base and exponent with superscript
print(f'{base}{to_superscript(exponent)}')

### 12. Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.

In [ ]:
sugar=input('enter the sugar value')
fruits=input('enter the fruits value')
oils=input('enter oil value')
chocolates=input('enter chocolate value')
total=sugar+fruits+oils+chocolates
print(total)
print(int(total)/4)
print(max(sugar,fruits,oils,chocolate))
print(min(sugar,fruits,oils,chocolate))

# Conditional statements

### 13. Take the input from the user for(Total number of people, total number of buses, Number of seats for bus, adjust factor). Based on four inputs
### Decide whether there is sufficient buses or not and give solution for how many extra buses required.

In [5]:
people = int(input("number of people:"))
seats = int(input("number of seats:"))
buses = int(input("number of buses"))
factor = float(input("Enter the adjust factor"))
#seats_per_bus = seats//buses
no_of_buses = (people)//(seats+factor)
print(no_of_buses)
if (people)%(seats+factor) != 0:
    no_of_buses += 1
    
    if buses > no_of_buses:
        print(f"{no_of_buses} buses required but")
        print(f"{buses-no_of_buses} extra buses are their")
    else:
        print("No Sufficient buses")
        print(f"{no_of_buses-buses} buses are required")
        
else:
    print("Sufficient buses")

number of people: 200
number of seats: 20
number of buses 4
Enter the adjust factor 20

5.0
Sufficient buses

### 14.Take number from the user decide whether it is even or odd.

In [15]:
value = int(input("Enter a value"))
if value%2 == 0:
    print("EVEN")
else:
    print("ODD")

Enter a value 66

EVEN

### 15.take number from the user decide whether it is positive number or negative number

In [7]:
num = input()
if num[0] == "-":
    print("Negative number")
else:
    print("Positive number")

 -2

Negative number

### 16.take a string from the user print the length. if the user not given anything then show an error message

In [14]:
string = input("Enter a word")
len_string = len(string)
if len_string
   print(len_string) 
else:"Error"

SyntaxError: expected ':' (2733888917.py, line 3)

In [1]:
string = input("Enter a word: ")
len_string = len(string)

if len_string > 0:  # Check if the length of the string is greater than 0
    print(len_string)
else:
    print("Error")  # Print "Error" if the string is empty

Enter a word:

Error

### 17.code to perform mathematical operations. take two numbers from the user and show the below menu

### 1. add,

### 2. sub,

### 3. mul,

### 4.div,

### 5.quit

### Enter an option:

### 
### based on the option need to perform an operations

In [1]:
a = int(input("Enter 'a' value: "))

b = int(input("Enter 'b' value: "))

print( "1.add\n2.sub\n3.mul\n4.division\n5.quit")

opt = input("Enter an option:")

if opt=="1": 

    print(a+b)

elif opt=="2":  

    print(a-b)

elif opt=="3": 

    print(a*b)

elif opt=="4":  

    print(a/b)

elif opt=="5":  

    print("quit")

else:

    print("enter valid option")

print("Thank you")

Enter 'a' value:  1
Enter 'b' value:  5

1.add
2.sub
3.mul
4.division
5.quit

Enter an option: 1

6
Thank you

### 18. show the menu:

### 1. kids

### 2. Men's

### 3. Women's

### Show the corresponding message based on the selection.

### Option:1: you are a kid

### 2: you are a gentlemen

### 3: you are a good women

### Mention error message if the option value >3.

In [2]:
print("Menu:\n1. Kids\n2. Men's\n3. Women's")

option = int(input("Select an option (1, 2, or 3): "))

if option == 1:

    print("You are a kid.")

elif option == 2:

    print("You are a gentleman.")

elif option == 3:

    print("You are a good woman.")

else:

    print("Invalid option. Please select 1, 2, or 3.")

print("Thank you for shopping")

Menu:
1. Kids
2. Men's
3. Women's

Select an option (1, 2, or 3):  1

You are a kid.
Thank you for shopping

### 19. write a program to chcek given substring is there in actual string or not?

### example: act="python is a pure object oriented programing language"

### check whether “pure” is there in act or not.

### Note: Use in operator

In [ ]:
print("Operating Systems:\n\t1.Windows\n\t2.Android\n\t3.MAC")
 
option = input("Enter the option(1-3):")
# Checks if option is 1
if option == '1':
    print("Go to first floor and buy windows laptop or mobile")
# Checks if option is 2 
elif option == '2':
    print("Go to second floor and buy android mobiles")
# Checks if option is 3
elif option == '3':
    print("Go to third floor and buy mac laptop or iphones")
else:
    print("There is only three floors, please select 1 or 2 or 3")

### 20. Take three numbers from the user and decide which is big

In [3]:
num1 = input("Enter the first number:")

num2 = input("Enter the second number:")

num3 = input("Enter the third number:")

if float(num1)>float(num2) and float(num1)>float(num3):

    print(f"{num1} is bigger")

elif float(num2)>float(num1) and float(num2)>float(num3):

    print(f"{num2} is bigger")

else:

    print(f"{num3} is bigger")

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30

30 is bigger

### 21. Take age and gender from the user and decide whether he is eligible for marriage in India or not.

### Age criteria: men age>24, women>21

In [4]:
age = input("Enter the age:")

gender = input("Enter the gender(male/female):")

# Check eligibility for marriage based on gender and age

if gender == 'male':

    if int(age)>24:

      print("you are eligible for marriage in India")

    else:

      print("You are not eligible for marriage in India")

elif gender == 'female':

    if int(age)>21:

        print("you are eligible for marriage in India")

    else:

        print("You are not eligible for marriage in India")

else:

    print("Invalid gender. Please enter male or female")

Enter the age: 24
Enter the gender(male/female): 21

Invalid gender. Please enter male or female

### 22. Take an age and gender from the user: and mention that what he/she can do in india.

### """

### conditions

### 1. Theatre: 5 for men 7 for women

### 2. Voting system: 18 for men and women

### 3. Marriage in india: 23 for men and for women >21

### 4. For govt jobs: (min:18, max:32) for men and (min:18, max:34) for women

### 5. For driving licence: (min:18, max:60) for men and women

### Eligibility:

### 1. theatre

### 2. Voting system

### 3. Marriage in india

### 4. For govt obs

### 5. For driving licence:

### Enter an option:

### Gender:

### 1. men

### 2. women

### Enter an option:

### Enter an age of person:

In [25]:
print("1.Men\n2.Women")

gender = input("enter your gender")
age = input("enter an age:")
age = float(age)
if age>=18:
   print("He can apply for voting")
if 18<= age >= 60:
   print("He can apply for driving licence")
if gender == "1":
     if age>=5:
        print("he can got to movie")
     if age>=23:
        print("He can get married")
     if age>=18 and age<=34:
       print("He can apply for govt gobs")
elif  gender == "2": 
    if age>=7:
         print("she can got to movie")
    if age >= 18:
        print("sHe can apply for voting")
    if age>=23:
        print("sHe can get married")
    if age>=18 and age<=34:
        print("sHe can apply for govt gobs")

1.Men
2.Women

enter your gender 2
enter an age: 65

He can apply for voting
He can apply for driving licence
she can got to movie
sHe can apply for voting
sHe can get married

### 23. operating systems:

### 1.windows

### 2.android

### 3.mac

### Enter an option:

### If the user enters 1 then show "Goto first floor and buy windows laptop or mobile"

### If the user enters 2 then show "Goto second floor and buy adroid mobiles"

### If the user enters 3 then show "Goto third floor and buy mac laptop or iphones"

### If the user enters other than 1 or 2 or 3 then show "There is only three floors, please select 1 or 2 or 3"

In [5]:
print("Operating Systems:\n\t1.Windows\n\t2.Android\n\t3.MAC")
 
option = input("Enter the option(1-3):")

# Checks if option is 1

if option == '1':

    print("Go to first floor and buy windows laptop or mobile")

# Checks if option is 2 

elif option == '2':

    print("Go to second floor and buy android mobiles")

# Checks if option is 3

elif option == '3':

    print("Go to third floor and buy mac laptop or iphones")

else:

    print("There is only three floors, please select 1 or 2 or 3")

Operating Systems:
	1.Windows
	2.Android
	3.MAC

Enter the option(1-3): 2

Go to second floor and buy android mobiles

### 24.Given an age, figure out whether someone's a baby, toddler, child, teenager, adult or old codger.

In [2]:
age = int(input("Enter the age: "))
 
# Determine the category based on age

if age < 2:

    print("Baby")

elif 2 <= age < 4:

    print("Toddler")

elif 4 <= age < 13:

    print("Child")

elif 13 <= age < 20:

    print("Teenager")

elif 20 <= age < 65:

    print("Adult")

else:

    print("Old Codger")

Enter the age:  6

Child

### 25.Take two number a,b from the user and check whether a is divisible by b or not

In [1]:
a = input("Enter number a:")
b= input("Enter number b:")
a = float(a)
b = float(b)
if a%b == 0:
    print(f"{a} is divisible by {b}")
else:
    print(f"{a} is not divisible by {b}")

Enter number a: 45
Enter number b: 87

45.0 is not divisible by 87.0

### 26. Take a letter from the user and print that letter belongs to which category I.e is it a small letter or capital letter or number or special symbol

In [33]:
char=input("enter any single letter")
if len(char) != 1:
    print("Please enter only one character.")
else:
    ascii_val = ord(char)
    
    if 65 <= ascii_val <= 90:
        print("The character is an uppercase letter.")
    elif 97 <= ascii_val <= 122:
        print("The character is a lowercase letter.")
    elif 48 <= ascii_val <= 57:
        print("The character is a digit.")
    elif (32 <= ascii_val <= 47) or (58 <= ascii_val <= 64) or \
         (91 <= ascii_val <= 96) or (123 <= ascii_val <= 126):
        print("The character is a special symbol.")
    else:
        print("The character does not fall into any of the recognized categories.")

enter any single letter h

The character is a lowercase letter.

In [37]:
char=input("enter any single letter")
if len(char) != 1: 
    print("Please enter only one character.")
else:
    ascii_val = ord(char)
    print(ascii_val)

enter any single letter A

65

In [42]:
char=input("enter any single letter")
if len(char) != 1: 
    print("Please enter only one character.")
else:
    ascii_val = ord(char)
    print(ascii_val)
    if 97 <= ascii_val <= 122 :
        print("The character is a lowercase letter.")
    elif 65 <= ascii_val <= 90 :
        print("The character is a Uppercase  letter.")

enter any single letter a

97
The character is a lowercase letter.