In [1]:
numbers=[10,20,30,40]
for num in numbers:
    print("Hello")
    print(num)
print("Hi")

Hello
10
Hello
20
Hello
30
Hello
40
Hi

In [2]:
numbers=(10,20,30,40)
for num in numbers:
    print("Hello")
    print(num)
print("Hi")

Hello
10
Hello
20
Hello
30
Hello
40
Hi

In [3]:
numbers={10,20,30,40}
for num in numbers:
    print("Hello")
    print(num)
print("Hi")

Hello
40
Hello
10
Hello
20
Hello
30
Hi

In [4]:
for num in "1000":
    print(num)

1
0
0
0

In [5]:
for num in "pot":
    print(num)
    print("hi")
print("hello")

p
hi
o
hi
t
hi
hello

In [6]:
for num in False:
    print(num)

TypeError: 'bool' object is not iterable

In [7]:
for num in 100:
    print(num)

TypeError: 'int' object is not iterable

In [8]:
for num in 10.3:
    print(num)

TypeError: 'float' object is not iterable

In [9]:
data = {"nme":"aja,"add":"hyd"}
for num in data:
    print(num)

SyntaxError: unterminated string literal (detected at line 1) (3934246019.py, line 1)

In [14]:
for 1 in []
 print(i)
 print("hi")
print("Hello")

SyntaxError: cannot assign to literal (1275833556.py, line 1)

In [16]:
numbers=[10,-3,3,5,6,-20,45]
for num in numbers:
    if num>=0:
        print(num,"+ve")
    else:
        print(num,"-ve")
print("Done")

10 +ve
-3 -ve
3 +ve
5 +ve
6 +ve
-20 -ve
45 +ve
Done

In [17]:
numbers=[10,-3,3,5,6,-20,45]
p_n=0
n_n=0
for num in numbers:
    if num>=0:
      p_n=p_n=1  
    else:
     n_n=n_n=1   
print(p_n)
print(n_n)

1
1

In [1]:
for i in "python":
    print(i)
print("hello")

p
y
t
h
o
n
hello

In [2]:
for i in "1234":
    print("hi")
print("hello")

hi
hi
hi
hi
hello

In [4]:
for i in "1234":
    if i=="2":
       print("hi")
print("hello")

hi
hello

In [5]:
for i in "1234":
    break
    if i=="2":
       print("hi")
print("hello")

hello

In [6]:
for i in "1234":
    if i in "23":
       print("hi")
    else:
      print("hello")  
print("going with main block")

hello
hi
hi
hello
going with main block

In [7]:
for i in "1234":
    if i in "23":
       print("hi")
    else:
      print("hello") 
      break  
print("going with main block")

hello
going with main block

In [8]:
for i in "1234":#i-1,i-2
    if i in "23":# i ib
       print("hi")
       break 
    else:
      print("hello")  
print("going with main block")

hello
hi
going with main block

In [19]:
number=[10,-20,-30,45,67,-56]
for i in number:
    if i>=0:
        print(i,"+ve")
    else:
        print(i,"-ve")

10 +ve
-20 -ve
-30 -ve
45 +ve
67 +ve
-56 -ve

In [ ]:
number=[10,-20,-30,45,67,-56]
p_n=0
for i in number:
    if i>=0:
        print(i,"+ve")