In [1]:
a=1000
print("The product cost:"+str(a))

The product cost:1000

In [2]:
a=1000
print(f"The product cost:"+str(a))

The product cost:1000

In [3]:
a=1000
print("The product cost:"+{a})

TypeError: can only concatenate str (not "set") to str

In [4]:
a=1000
print(f"The product cost:"+{a})

TypeError: can only concatenate str (not "set") to str

In [5]:
a=1000
print(f"The product cost:{a})"

SyntaxError: incomplete input (820615595.py, line 2)

In [6]:
a=1000
print(f"The product cost{a}")

The product cost1000

In [7]:
cost=123.45678
print(f"The product cost:{cost}")

The product cost:123.45678

In [8]:
cost=123.45678
print(f"The product cost:{cost: f}")

The product cost: 123.456780

In [9]:
cost=123.45678
print(f"The product cost:{cost: d}")

ValueError: Unknown format code 'd' for object of type 'float'

In [10]:
cost=123.45678
print(f"The product cost:{int(cost)}")

The product cost:123

In [11]:
cost=123.45678
print(f"The product cost:{cost: .2f}")

The product cost: 123.46

In [12]:
# format specifiers: %s,%d,%r,%f

In [13]:
cost=123.45678956768
print("The product cost:%s")

The product cost:%s

In [14]:
cost=123.45678956768
print("The product cost:%s", cost)

The product cost:%s 123.45678956768

In [15]:
cost=123.45678956768
print("The product cost:%s"%cost)

The product cost:123.45678956768

In [16]:
cost=123.45678956768
print("The product cost:%f", cost)

The product cost:%f 123.45678956768

In [17]:
cost=123.45678956768
print("The product cost:%s",%cost)

SyntaxError: invalid syntax (912470057.py, line 2)

In [18]:
cost=123.45678956768
print("The product cost:%f",%cost)

SyntaxError: invalid syntax (1920266809.py, line 2)

In [19]:
cost=123.45678956768
print("The product cost:%d", cost)

The product cost:%d 123.45678956768

In [20]:
# special

In [21]:
print("eyufdeugd \n hiudxhisu")

eyufdeugd
 hiudxhisu

In [22]:
print("bxhxbsi\njdwijbdh\nwhdiuw\n")

bxhxbsi
jdwijbdh
whdiuw

In [25]:
print(len("\n"))

1

In [26]:
print(len("\\n"))

2